<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="plv.colorado.edu.chimptrainer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="plv.colorado.edu.chimptrainer.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="plv.colorado.edu.chimptrainer.Countdown.CountdownActivity"></activity>
        <activity android:name="plv.colorado.edu.chimptrainer.Intermedia.IntermediaActivity"></activity>
        <activity android:name="plv.colorado.edu.chimptrainer.Swipe.SwipeActivity"></activity>
    </application>

</manifest>