.App {
  text-align: center;
}

.App-logo {
  height: 50px;
  float: left;
}

.App-header {
  background-color: #222;
  height: 90px;
  padding: 20px;
  color: white;
}

.introduction {
  background-color: #eee;
}

.App-title {
  font-size: 1.5em;
  text-align: left;
  transform: translate(25px, -5px);
}

.App-intro {
  font-size: large;
}

.App-project{
  font-size: 1.5em;
  transform: translate(0px, -15px);
  text-align: right;
}

.spacey{
  padding: 40px;
}

.spaceySmall{
  padding: 20px;
}

.somePad{
  padding: 5px;
}

.nl{
  padding: 1px;
}

.App-footer {
  background-color: #ddd;
  height: 92px;
  padding: 0px;
  color: white;
}

.CUPLV-Logo {
  height: 80px;
  transform: translate(0px, 10px);
  float: left;
}
